$n:6;
/* number of elements */

.slider>ul {
  --d: 10s;
  /* duration */

  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  /* number of visible images */
  overflow             : hidden;
  -webkit-mask         : linear-gradient(90deg, #0000, #000 5% 95%, #0000);
  margin               : 0;
  padding              : 0;
  list-style           : none;
}

.slider>ul>li {
  grid-area      : 1/1;
  animation      : r var(--d) linear infinite;
  font-family    : system-ui;
  font-size      : 1.3rem;
  padding        : 1rem;
  border         : .5rem solid #0000;
  text-align     : center;
  //   background: hsl(215, 25%, 27%) padding-box;
  border-radius  : 1rem;
}

.slider>ul>li>h1 {
  font-size          : clamp(22px, 22px + 1vw, 70px);
  font-weight        : 900;
  text-transform     : uppercase;
  white-space        : nowrap;
  color              : transparent;
  -webkit-text-stroke: 1px black;
}

.slider>ul>li>h1:hover {
  color              : black;
  -webkit-text-stroke: 0px black;
}

.slider>ul:hover li {
  animation-play-state: paused;
}

@for $i from 2 to ($n + 1) {
  .slider>ul>li:nth-child(#{$i}) {
    animation-delay: calc(#{(1 - $i)/$n}*var(--d))
  }
}

@keyframes r {
  #{100/$n}% {
    transform: translate(-100%)
  }

  #{100/$n + .01}% {
    transform: translate(($n - 1)*100%)
  }
}

.slider>ul.alt li {
  animation-direction: reverse;
}